@import "../../../styles/variables.scss";

.custom-offcanvas.offcanvas {
    background-color: $primary-bg-color;
    color: $secondary-color;
    transition: transform 0.3s ease;
}

.custom-offcanvas.offcanvas.offcanvas-end {
    top: $mob-navbar-height;
    width: 70%;

    .custom-body.offcanvas-body {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 20px;

                .nav_menu {
                    width: 100%;
                    background-color: transparent;
                    color: $secondary-color;
                    padding: 10px;
                    border: none;
                    text-align: left;

                    span {
                        vertical-align: bottom;
                        margin-left: 10px;
                    }
                }

                .active-tab {
                    background-color: $highlight-color-lite;
                    border: none;
                }
            }
        }
    }
}

.fade.offcanvas-backdrop.show {
    top: $mob-navbar-height;
    transition: opacity 0.3s ease;
}