@use "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.desktop_header_wrapper {
    .nav_menu_wrapper {
        display: inline-flex;
        gap: 3vw;

        .nav_links_shimmer {
            text-decoration: none;
            color: $primary-color;
            font-weight: 500;
            @include mixins.shimmer();
            padding: 0 15px;
            border-radius: 30px;
            width: 3.5rem;

            .link-text {
                display: inline-block;
            }
        }
    }
}