@import "../../styles/variables.scss";

.component_container {
    position: relative;

    .container_wrapper {
        padding: $container-padding-top-bottom-lg $container-padding-left-right-lg;
        height: 100%;
        width: 100%;
        min-height: fit-content;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &.listing {
            justify-content: flex-start;
        }
    }
}

@media only screen and (max-width: $xs) {
    .component_container .container_wrapper {
        padding: $container-padding-top-bottom-mob $container-padding-left-right-mob;
    }
}

@media only screen and (max-width: $md) and (min-width: $xs) {
    .component_container .container_wrapper {
        padding: $container-padding-top-bottom $container-padding-left-right;
    }
}