@use "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";


.grid_wrapper {
    height: 100%;

    .grid_item_wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;


        .img_wrapper_shimmer {
            contain: content;
            max-width: 380px;
            @include mixins.shimmer();
            height: 22rem;
            width: 95%;
            border-radius: 10px;

            .img {
                width: 100%;
            }
        }
    }

    .item-row {
        flex-direction: row;
    }

    .item-row-reverse {
        flex-direction: row-reverse;
    }

    .text_wrapper {
        max-width: 500px;
        width: 100%;

        .para_shimmer {
            font-size: $body2;
            text-align: justify;
            @include mixins.shimmer();
            width: 100%;
            height: 12px;
            border-radius: 30px;
            margin-bottom: 8px;
        }

        .title_shimmer {
            text-align: center;
            @include mixins.shimmer();
            width: 60%;
            height: 1.5rem;
            border-radius: 30px;
            margin-bottom: 15px;
        }
    }
}


@media only screen and (max-width: $xs) {


    .grid_wrapper {
        .grid_item_wrapper {
            gap: 1vh;

            &.item-row {
                flex-direction: column;
            }

            &.item-row-reverse {
                flex-direction: column;
            }


            .text_wrapper {
                padding: 0 3vw;

                .title_shimmer {
                    text-align: center;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

            }
        }

        &.grid_wrapper>* {
            margin: 10px 0;
        }

        &.grid_wrapper>*:nth-child(1) {
            margin-top: 0;
        }

        &.grid_wrapper>*:not(:first-child) {
            margin-top: 20px;
        }
    }
}


@media only screen and (max-width: $md) and (min-width: $xs) {


    .grid_wrapper {
        .grid_item_wrapper {
            gap: 3vw;

            .img_wrapper_shimmer {
                max-width: 40vw;
            }
        }
    }
}