@import "../../styles/variables.scss";

.product_home_container {
  display: flex;
  justify-content: center;
  width: 100%;

  .product_home_wrapper {
    max-width: 1448px;
    width: 100%;

    .header_wrapper {
      .description {
        font-size: 14px;
        text-align: justify;
        font-weight: 300;
      }
    }

    .type_grid_wrapper {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(4, minmax(250px, 1fr));
      gap: 1rem;
      justify-items: center;
      transition: 0.5s;

      .items_wrapper {
        max-width: 250px;
        width: 100%;
        transition: transform 0.3s ease;

        .item_wrapper_link {
          text-decoration: none;
          color: inherit;
        }
      }

      &.listing {
        margin-top: 1rem;

        .items_wrapper {
          background: $secondary-bg-color;
          color: $primary-color;
          padding: 1px;

          .item_wrapper_link .productItem_wrapper.item_listing .text_wrapper {
            padding: 5px 7px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .product_home_container .product_home_wrapper .type_grid_wrapper {
    .items_wrapper {
      &:hover {
        transform: scale(1.05);
      }
    }

    // &:hover>.items_wrapper:not(:hover) {
    //   filter: blur(10px);
    //   transform: scale(0.9, 0.9);
    // }
  }
}

@media only screen and (max-width: $lg) and (min-width: $md) {
  .product_home_container .product_home_wrapper .type_grid_wrapper {
    grid-template-columns: repeat(3, minmax(23%, 1fr));
  }
}

@media only screen and (max-width: $md) and (min-width: $xs) {
  .product_home_container .product_home_wrapper .type_grid_wrapper {
    grid-template-columns: repeat(3, minmax(25%, 1fr));
  }
}

@media only screen and (max-width: $xs) {
  .product_home_container .product_home_wrapper .type_grid_wrapper {
    grid-template-columns: repeat(2, minmax(35%, 1fr));
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 1.5rem;

    &.listing {
      margin-bottom: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(min(230px, 100%), 1fr));

      .items_wrapper {
        max-width: 380px;

        .item_wrapper_link .productItem_wrapper.item_listing .img_wrapper .product_img {
          height: 12rem;
        }
      }
    }
  }

  .header_wrapper {
    .description {
      margin: 0 $container-padding-left-right-mob;
    }
  }
}