@import "./variables.scss";

@mixin getSize($minSize, $maxSize, $defaultSize) {
    width: max($minSize, min($maxSize, $defaultSize));
}

@mixin shimmer() {
    background-image: linear-gradient(to right, #82818166 0%, rgb(155 153 153 / 30%) 20%, #82818166 40%, rgb(154 151 151 / 30%) 60%, #807e7e5e 80%);
    background-size: 800px 100%;
    animation: shimmer 1s infinite ease-in-out;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}