//breakpoints
$xs: 599px;
$sm: 600px;
$md: 900px;
$lg: 1200px;

//font-family
$font-family: "Roboto";

//background-color
$primary-bg-color: #000000;
$secondary-bg-color: #ffffff;

//font-color
$primary-color: #000000;
$secondary-color: #fffaf0;
$highlight-color-lite: #ff4e4e;
$highlight-color-dark: #af0e13;
$disabled-color: #a9a9a9;

//font-size
$h5: 20px;
$h6: 18px;
$body1: 16px;
$body2: 14px;

//logo-size
$logo-mobile: 2rem;
$logo-lg: 2.1rem;

//margin
$footer-content-margin-left: 20px;

//padding header
$header-padding-top-bottom-mob: 0.5rem;
$header-padding-left-right-mob: 3%;
$header-padding-left-right: 2.5%;
$header-padding-left-right-lg: 4.5%;

//padding container
$container-padding-top-bottom-mob: 1.2rem;
$container-padding-left-right-mob: 3%;
$container-padding-top-bottom-lg: 2.5rem;
$container-padding-left-right-lg: 4.5%;
$container-padding-top-bottom: 1.5rem;
$container-padding-left-right: 2.5%;

//navigation bar height
$navbar-height: 64px;
$max-width: 1448px;