@import "../../styles/variables.scss";

.contact-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
        // margin-top: 15px;
        margin-bottom: 3px;
    }

    small {
        color: $highlight-color-lite;
        margin-top: 5px;
    }

    .input-group {
        height: 3rem;
        border: none;
        padding: 5px 10px;
        scrollbar-width: none;

        &.text-area {
            height: 10rem;
        }

        &.input-group::-webkit-scrollbar {
            display: none;
        }

        &.input-group:focus-visible {
            border: none;
            outline: 0;
        }
    }

    .form_button {
        width: fit-content;
        border: none;
        padding: 12px 40px;
        background: $share-button-color;
        color: $secondary-color;
        align-self: flex-end;
        margin-top: 15px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .contact-form .form_button {
        &:hover {
            background-color: $share-button-hover-color;
            color: $share-button-color;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }

    }
}



@media only screen and (max-width: $xs) {
    .contact-form {
        width: 80%;
        max-width: 350px;
        min-width: 250px;

        .form_button {
            padding: 8px 20px;
        }
    }
}

// @media only screen and (max-width: $md) and (min-width: $sm) {
//     .contact-form {
//         max-width: 350px;
//     }
// }