@media (max-width: 600px) {
    .product-item:nth-child(n+6) {
        display: none;
        /* Hide items 4 and above on small screens */
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .product-item:nth-child(n+4) {
        display: none;
        /* Hide items 4 and above on small screens */
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .product-item:nth-child(n+5) {
        display: none;
        /* Hide items 4 and above on medium screens */
    }
}

@media (min-width: 1200px) {
    .product-item:nth-child(n+6) {
        display: none;
        /* Hide items 4 and above on large screens */
    }
}