@import "../../styles/variables.scss";

.heading_wrapper {
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: $secondary-color;

  .back_button {
    background-color: transparent;
    color: $secondary-color;
    border: none;
    margin-bottom: 1rem;

    .back_icon {
      height: 28px;
      width: 26px;
    }

    &.back_to_list {
      background-color: $highlight-color-dark;
      border-radius: 14px;
      display: inline-flex;
      align-items: center;
      padding: 1px 9px 1px 1px;

      .title {
        font-size: $body2;
        margin-top: 1px;
        margin-bottom: 0;
      }

    }
  }

  .title {
    font-size: $h6;
    margin-left: 5px;
    text-align: left;
  }

}