@import "../../styles/variables.scss";

.footer {
  background-color: $primary-bg-color;
  display: flex;
  justify-content: center;
  margin-top: 4px;

  .footer_container {
    position: relative;
    width: 100%;
    max-width: $max-width;

    .footer_wrapper {
      padding: $container-padding-top-bottom-lg $container-padding-left-right-lg;
      display: flex;
      justify-content: space-between;

      .link {
        text-decoration: none;
        color: $secondary-color;
      }

      .more_wrapper {
        .more {
          margin-bottom: 10px;

          .more_title {
            color: $secondary-color;

            .title {
              font-size: $h6;

              span {
                padding-top: 8px;
                padding-left: 5px;
                position: absolute;
              }
            }
          }

          .address-box {
            margin-left: $footer-content-margin-left;
            color: $secondary-color;
            margin-top: 5px;
            max-width: 20rem;

            span {
              font-size: $body2;
              letter-spacing: 1px;

            }
          }
        }
      }

      .social_icons {
        .title {
          font-size: $h6;
          color: $secondary-color;

          span {
            padding-top: 8px;
            padding-left: 5px;
            position: absolute;
          }
        }

        .icons_wrapper {
          display: inline-flex;
          gap: 15px;
          margin-left: $footer-content-margin-left;

          .social_link {
            text-decoration: none;
            color: $secondary-color;

            .icons {
              transition: color 0.3s ease;
              width: 26px;
              height: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;

              &.instagram {
                background: linear-gradient(231deg,
                    #833ab4,
                    #e1306c,
                    #fd7f35,
                    #fdc730 100%);
              }

              &.whatsapp {
                background: green;
              }

              &.fb {
                background: blue;
              }
            }
          }
        }
      }

      .section_one {
        .logo_wrapper {
          height: $logo-lg;
          margin-bottom: 2rem;

          svg {
            height: 100%;
            width: $svg-width-lg;

            .svgShape {
              filter: invert(1);
            }
          }
        }

        .more_wrapper,
        .social_icons {
          margin-left: 4rem;
          margin-bottom: 1.5rem;
        }
      }

      .section_two {
        max-width: 540px;
        width: 50%;

        .more_wrapper {
          margin-bottom: 0.9rem;
        }

        .google_map_wrapper {
          contain: content;
          margin: 0 20px;

          iframe {
            border-radius: 2px;
            width: 100%;
            height: 300px;
          }
        }
      }

    }
  }
}

.developer {
  height: fit-content;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: $primary-bg-color;
  padding: 1px $container-padding-left-right-lg;

  .text {
    color: grey;
    font-size: 10px;
    margin-bottom: 0;

    span {
      a {
        text-decoration: none;
        color: rgb(13 110 253 / 57%);
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .icons {

    &.instagram,
    &.fb,
    &.whatsapp {

      &:hover {
        animation: popoutAnimation 0.5s ease forwards;
      }
    }

    @keyframes popoutAnimation {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(1.3);
      }
    }
  }
}

@media only screen and (max-width: $md) and (min-width: $xs) {
  .footer {
    .footer_container {
      .footer_wrapper {
        padding: $container-padding-top-bottom $container-padding-left-right;

        .section_two .google_map_wrapper iframe {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: $xs) {
  .footer {
    .footer_container {
      .footer_wrapper {
        padding: $container-padding-top-bottom $header-padding-left-right-mob;
        margin-top: 3px;
        flex-direction: column;

        .more_wrapper {
          .more {

            .more_title {
              .title {
                font-size: $body1;
              }
            }
          }
        }

        .section_one {

          .more_wrapper,
          .social_icons {
            margin-left: 1rem;
          }

          .logo_wrapper {
            margin-bottom: 30px;

            svg {
              width: $svg-width-mob;
            }
          }

          .section_two {
            width: 100%;
            margin-bottom: 1.5rem;

            .more_wrapper {
              margin-left: 1rem;
              margin-bottom: 1.5rem;

            }

            .google_map_wrapper {
              margin: 0 10px;
            }
          }
        }

      }
    }
  }
}