@import "../../styles/variables.scss";


.error_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
    position: relative;

    .error_icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 2rem;
        color: #ff0000;
    }

    .error_msg {
        margin-bottom: 1.5rem;
        text-align: center;

        span {
            color: #ff0000;
            animation: fadeIn 1s forwards;

            span:nth-child(1) {
                animation-delay: 0s;
            }

            span:nth-child(2) {
                animation-delay: 0.1s;
            }

            span:nth-child(2) {
                animation-delay: 0.2s;
            }

            .blinking {
                animation: blink-animation 1s infinite;
            }
        }
    }

    .error_buttons {
        display: inline-flex;
        gap: 1rem;

        .button {
            background: darkgray;
            border: $secondary-color;
            border-radius: 5px;
            color: $primary-color;
            font-weight: 500;
            height: 2rem;
            width: 8rem;
        }

        .home_button:hover {
            background-color: $share-button-color;
            color: $secondary-color;
            box-shadow: rgb(0 0 139) 0px 0px 12px 0px;
        }

        .back_button:hover {
            background-color: rgb(255, 69, 0);
            color: $secondary-color;
            box-shadow: rgb(255, 69, 0) 0px 0px 12px 0px;
        }
    }
}


@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Make the letters invisible at the beginning of the animation */
    }

    to {
        opacity: 1;
        /* Make the letters visible at the end of the animation */
    }
}