@import "~bootstrap/scss/bootstrap";
@import "./styles/variables.scss";

* {
  font-family: $font-family;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 25px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100svh - $navbar-height);
}

@media only screen and (max-width: $xs) {
  main {
    min-height: calc(100svh - $navbar-height);
  }
}